header{
    background: #BBBBBB;
    padding: 20px 0;
}


.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

main{
    padding: 25px;
}

.principal{
    width: 940px;
    margin: 10px auto;
    box-sizing: border-box;
    border: 4px solid #000;
    border-radius: 10px;
}

.principal h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.principal p {
    margin: 25px;
    text-align: center;
    font-size: 18px;
}

em strong{
    color: red;
}

.beneficios{
    width: 940px;
    margin: 10px auto ;
    box-sizing: border-box;
    border: 4px solid #000;
    border-radius: 10px;
}

.beneficios h3{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.beneficios li {
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 10px 0px;

    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #000;
}

.Lista{
    font-weight: bold;
    font-size: 16px;
}

footer{
    text-align: center;
    background: url("/HTML/Img/bg.jpg");
    padding: 40px 0px;
}

.Direitos{
    color: rgb(255, 255, 255);
    font-size: 13px;
    margin: 20px 0 0 ;
}